[2016-04-04 12:05] ngydat opened #4 "_this.listView.refresh is not a function"
Hi @bradmartin ,
For my internship I've been asked to develop a mobile application with Nativescript and Angular 2.
One of the things the app should be able to do is to get the notiffications (which I store in a listview in my app); Obviously i'd like to add the possibility to refresh the list of notifications by pulling down but even though I follow the instructions, I get this error (the one you

[2016-04-04 14:00] bradmartin commented on #4
@ngydat -  I don't think that's an issue with the plugin. I'm not a TS expert by any means but why is your error `_this.listView.refresh`? In this plugin `refresh` is the event for the *PullToRefresh* component and not the listview. So just from quickly skimming your code and the error I think your TS code isn't referencing the correct object for your event. Try debugging the event and see what `_

[2016-04-05 23:01] matt4446 commented on #4
[Plugin integration](https://github.com/NativeScript/nativescript-angular/issues/157) - I might add the list view to my test page tomorrow.

just updating the component's `notificationsList` should be enough to cause the listview to update. (I have never used the list control though). I would need to see the entire page component to see what you are up to.

I would recommend looking at these two:

[2016-04-07 08:21] ngydat opened #5 "Can't find UIRefreshControl in pulltorefresh.d.ts"
Hello @bradmartin

I'm contacting you again because I have this little error in the file I mentioned in the title.
I know UIRefreshControl is a class used in iOS but in the file, the compiler can't seem to recognize it. Do I need a require somewhere ?

Thank you again

[2016-04-07 09:56] bradmartin commented on #5
No you don't *need* it but if you want to silence the compiler you could add a local variable to silence the warnings. Something like `var UIRefreshControl = UIRefreshControl;` then the compiler would quit complaining. Or you can just ignore it and know that the native class is available and just not defined in the module. I might ping Peter to get his thoughts on the best approach to silence the

[2016-04-08 21:47] matt4446 commented on #5
I've decided to hide all my typescript errors away today, which was fun.

@ngydat this is how I've solved that issue:
[ios.dummy.d.ts](https://github.com/matt4446/WhatsMyScore2-NativeScript/blob/master/typings/ios.dummy.d.ts#L13)
^
don't forget to reference the file.

@bradmartin I added a pull request for the two other (one really) typescript errors which @ngydat was stuck on over here: https://g

[2016-05-07 02:38] bradmartin commented on #5
Merged the PR, all should be good here. Any issues let me know 👍

[2016-05-07 02:38] #5 closed

[2016-05-07 02:39] bradmartin commented on #4
Any issues let me know 👍 - Cleaning things up.

[2016-05-07 02:39] #4 closed

[2016-05-11 22:20] matt4446 opened #7 "NPM "nativescript-pulltorefresh": "1.1.3" is missing the typescript definitions."
1.1.2 seems ok though.

[2016-05-11 22:22] bradmartin commented on #7
Ah man I totally excluded all TS files by accident from npm. :scream: I'll
fix this later. Thanks for pointing that out.

On Wed, May 11, 2016, 5:20 PM Matthew Green <notifications@github.com>
wrote:

[2016-05-12 00:32] matt4446 commented on #7
No problem ... my code has been stuck (unable to run) for a few days so I will look for the update soon ;-)

[2016-05-12 03:53] bradmartin commented on #7
Fixed.

[2016-05-12 03:53] #7 closed

[2016-05-21 09:38] PAT-Development opened #8 "this.content is undefined"
I have tried to use the current version of nativescript-pulltorefresh with the helloworld-ng template. While compiling the typescript I get the `Cannot find name 'UIRefreshControl'` error, but I let the compiler ignore it. But during the runtime, I get following error:
`TypeError: undefined is not an object (evaluating 'this.content.ios')
	ORIGINAL STACKTRACE:
	onLoaded@file:///app/tns_modules/nat

[2016-05-22 17:03] bradmartin commented on #8
@peterstaev do you know how to fix this?

On Sat, May 21, 2016, 4:38 AM Patrick Remy <notifications@github.com> wrote:

[2016-05-23 08:06] PeterStaev commented on #8
@bradmartin  seems something related to Angular, since the demo app is working fine with {N} 2.0. And my knowledge with Angular is zero, so have no idea :(

[2016-05-23 16:28] bradmartin commented on #8
@NathanWalker - does this sound like an Angular2 issue?

[2016-05-23 17:37] NathanWalker commented on #8
It does sound like it. Would need to investigate this week, will try to do that.

[2016-05-23 21:09] bradmartin commented on #8
Thanks man. Not sharp enough on ng2 yet

On Mon, May 23, 2016, 12:40 PM Nathan Walker <notifications@github.com>
wrote:

[2016-05-23 23:16] matt4446 commented on #8
@PAT-Development
Just for fun... can you try adding a [scrollview in there](https://github.com/matt4446/WhatsMyScore2-NativeScript/blob/master/app/controls/pullToRefresh/pullToRefresh.control.ts#L15-l19).
I will try it with a `ListView` one day to test, but not today.

[2016-05-23 23:41] matt4446 opened #9 "Pan Event Question - is it bubbled up?"
I'm not certain how the events get bubbled in NativeScript or NativeScript-Angular so may not be your problem ;-)

I have the pull to refresh on most of my pages but if I show the most irrelevant one (feels quite hypnotic):
![refresh-pointless-page](https://cloud.githubusercontent.com/assets/1550939/15487512/bdad6400-2145-11e6-99f6-e81adfbd10e4.gif)

On the `stackpanel` behind the `pull-to-refresh

[2016-05-24 02:20] bradmartin commented on #9
Not entirely certain, but I want to say that's part (kinda a crappy part) of using the android PullRefreshLayout. If you download the IGN app, that have a slider on the main page using the PullRefreshLayout and sometimes it's a pain to swipe the image slider because of the refresh layout. So I think it's just how that is, there might be some way to get into the gestures on the items and do some ha

[2016-05-24 11:05] matt4446 commented on #9
I could take a look. I feel like it could be time for me to take a trip into the native side this evening.
If It won't bubble then there is always the possibility of subscribing to something that knows the pan events...
[code]
One of those must know. I will see I guess.

[2016-05-24 11:27] bradmartin commented on #9
Yea that's the layout I meant :) I kept using the pullrefreshlayout which
is nothing lol sorry about that :smile:

On Tue, May 24, 2016, 6:05 AM Matthew Green <notifications@github.com>
wrote:

[2016-05-24 13:34] PAT-Development commented on #8
Same error. Is my `registerElement("PullToRefresh", () => { return require('nativescript-pulltorefresh').PullToRefresh });` correct? I couldn't see one in your file. If I leave it out, no error messages appear, but no pushtorefresh-view is loaded.

[2016-05-24 15:46] matt4446 commented on #8
I have this hiding somewhere [else](https://github.com/matt4446/WhatsMyScore2-NativeScript/blob/master/app/app.ts#L91-108) add [here](https://github.com/matt4446/WhatsMyScore2-NativeScript/blob/master/app/decorators/app.ts#L60-66), but that's not very significant (and doesnt work in ios i hear, so ignore my code for that):

The registration is required and pretty much replaces the namespace part o

[2016-05-24 23:10] matt4446 commented on #8
[code]
Will hopefully fix your problem. I skipped that in my demo and found it breaks with just `require("nativescript-pulltorefresh").PullToRefresh)`.

Here is my new [sample page](https://github.com/matt4446/Demo-Material-NativeScript/blob/master/app/controls/pullToRefresh.component.ts) or more simply on the [page](https://github.com/matt4446/Demo-Material-NativeScript/blob/master/app/pages/vani

[2016-05-24 23:32] matt4446 commented on #9
I hadnt noticed your mistake.
I still plan to look at that file 'SwipeRefreshLayout' at some point ...
But I decided to make a sample project (https://github.com/matt4446/Demo-Material-NativeScript/tree/master/screenshots/Android) for your material items with ns + angular in the meantime. It seemed relevant seeing there are a lot of questions around it. I have not got around to the fab yet.
I'll p

[2016-05-25 10:07] PAT-Development commented on #8
Unfortunately not.. But your demo is working on iOS. I try to find the differences in the implementations!

[2016-05-25 13:57] PAT-Development commented on #8
The issue is a bit different than we thought. I found out that it's working if the component is loaded on a subpage over routing. Without routing the same component fails.

[2016-05-27 15:09] matt4446 commented on #8
Could be based on the [loaded](https://github.com/NativeScript/nativescript-angular/issues/259)event bug currently floating about.

[2016-06-08 07:38] leocaseiro opened #10 "Install through tns-cli"
Hi, thanks for this plugin.

I was wondering why not install using the cli?
`tns plugin add nativescript-pulltorefresh`

[2016-06-08 17:54] bradmartin commented on #10
You can use either. I've always used `npm` just for brevity. Never had any issues with it :+1:

[2016-06-08 17:54] #10 closed

[2016-06-20 14:20] bradmartin commented on #8
Anything new here, I'm going to close and just comment if it needs to be reopened.

[2016-06-20 14:20] #8 closed

[2016-06-20 14:21] bradmartin commented on #9
Can we close this @matt4446 ? Just let me know :smile:

[2016-06-20 14:43] matt4446 commented on #9
@bradmartin We might as well. I have not got around to trying it out yet. I'll attempt it again some point!

*dreams for the day I can use work time to solve these problems*

[2016-06-20 14:43] #9 closed

[2016-07-07 13:23] yeulucay opened #11 "Angular2 version of pulltorefresh"
I want to add your component to my {N} Angular app.

and added this in my component ts file.

[code]

in the view page used it like that

[code]

It works and refresh spinner is shown on the top of the list when you pull down. But it should somehow trigger a method. lets suppose method name is

`refreshList(){}`

how will I use it from the view?

[2016-07-07 13:45] bradmartin commented on #11
There is a refresh event on the component. I'm not sure about ng2 as I
don't use it yet but it does work as I've seen people using it on the slack
channel. So I'm guessing just add the refresh event, look at the sample on
the README

On Thu, Jul 7, 2016, 8:23 AM Yunus Emre Uluçay <notifications@github.com>
wrote:

[2016-07-18 07:37] leocaseiro commented on #11
You just need to call the refresh event:

[code]

[2016-08-30 07:08] shripalsoni04 opened #13 "Typescript Error While Registering PullToRefresh In NG2 App"
To use PullToRefresh in angular 2 app, when we try to register PullToRefresh by `registerElement('PullToRefresh', () => PullToRefresh);`. Typescript compiler gives error: '() => typeof PullToRefresh' is not assignable to parameter of type '() => ViewClass'.

The error is due to in definition file, extending PullToRefresh by ContentView is missing.

So extending PullToRefresh by ContentView in defi

[2016-09-08 03:21] bradmartin commented on #13
Fixed: https://www.npmjs.com/package/nativescript-pulltorefresh

[2016-09-08 03:21] #13 closed

[2016-09-08 03:24] bradmartin commented on #11
Closing @yeulucay - if you need help using this see above comment.

[2016-09-08 03:24] #11 closed

[2016-09-30 16:44] devna13 opened #14 "Question: Using in NS angular project"
Tried this layout in NS angular project and it didn't work.

[code]

Is there any declaration in NgModule required to use this plugin ?

Thanks

[2016-09-30 16:56] bradmartin commented on #14
Possibly, don't use ng2 myself but see here for another component: https://github.com/bradmartin/nativescript-drawingpad#angular

[2016-09-30 21:01] devna13 commented on #14
Thanks @bradmartin. Tried different codes and this worked.

[code]

[code]

[2016-09-30 21:01] #14 closed

[2016-12-12 06:13] ahalls opened #15 "Support UIWebView on ios"
Its possible to use UIRefreshControl on UIWebViews, have to add it to the  scrollView subview.

http://stackoverflow.com/questions/13379815/use-uirefreshcontrol-for-uiwebview

[2017-01-11 04:06] #15 closed

[2017-01-13 09:29] NordlingArt opened #17 "Support for RadListView?"
I have switched from regular ListView to RadListView recently because it's just more customizable. However, I lost this plugin while doing so because it is complaining about there being no ScrollView within. I know that there is already a pull-to-refresh feature in RadListView, but it is clumsy and destroys the user experience. The developers for Telerik-UI don't answer issues very often either...

[2017-01-13 15:26] bradmartin commented on #17
Hi @NordlingArt I've not tried this with the RLV. Like you said since it has pull to refresh support already, I never attempted it 😄 . With that said, I imagine it's possible if you adjust your layout but not certain on that. If you want to share your XML I can throw out some suggestions to try. Without seeing it, things I would try is just wrapping different items in different layouts. Maybe Use

[2017-01-23 05:58] NordlingArt commented on #17
@bradmartin - I figured that I wanted my a customized refresh control and not the native one. So I had to make my own pull-to-refresh module that's compatible with RadListView 🙂

Yeah, I posted an issue about this over there. No answer hehe.

[2017-02-07 10:02] elvismercado opened #18 "Not working in TNS 2.5"
`file:///app/tns_modules/nativescript-pulltorefresh/pulltorefresh.js:65:71: JS ERROR Error: Content must inherit from UIScrollView!
`

[2017-02-07 11:49] bradmartin commented on #18
That's a layout issue. Can you provide your UI markup?

[2017-02-07 12:33] elvismercado commented on #18
Essentially the same example on the github page is within the schedules directive

[code]

[2017-02-07 12:42] bradmartin commented on #18
Is the refresh inside the schedules?

On Tue, Feb 7, 2017, 6:33 AM Elvis Mercado <notifications@github.com> wrote:

[2017-02-07 12:49] elvismercado commented on #18
yes, this is the view of the schedules

[code]

[2017-02-07 13:15] elvismercado commented on #18
@bradmartin I got the view to work. Problem was the gridlayout between the pulltorefresh and listview directive

But, i cannot get the refresh event to work

[2017-02-07 14:16] bradmartin commented on #18
Also you have a grid-stack-schedules which doesn't seem necessary at quick glance. That might be causing an issue. I forget the specifics with the layouts on iOS and making this work. I've encountered it before and just tweaking the layout resolves the issue. I just never know what it is exactly :) I don't do a lot of iOS so I just get it working and move on. I'll ping Peter later or you can on th

[2017-02-07 14:40] elvismercado commented on #18
Yes right. The listview needs to be a direct child of PullToRefresh I got the correct syntax now for angular2. Maybe you should include this in your readme for angular2

[code]

[code]

[code]

[2017-02-07 14:42] bradmartin commented on #18
So it's working now, if so I can add it to the README or if you want to submit a PR with that below the plain NS sample that would be great 😄

[2017-02-07 15:30] elvismercado commented on #18
I think an example in the readme is ok. If i ever get to check dive deeper in the code i'll create a PR

[2017-02-08 14:10] mvdklip opened #19 "Cannot scroll ListView up"
Not sure if this is intentional but I have setup a ListView with some images and labels inside an Android app. Without PullToRefresh I can scroll up and down the list. After adding the PullToRefresh however I can only scroll down. Scrolling up immediately triggers a refresh gesture. Instead I expected to be able to scroll all the way up to the top of the ListView before the refresh gesture kicks i

[2017-02-08 14:47] mvdklip commented on #19
Never mind, had a TabView in between. Rearranged the order of components and now it works as aspected. The ListView needs to be directly under the PullToRefresh. Maybe worth documenting as the "on any view" phrase seems not entirely true?

[2017-02-08 14:47] #19 closed

[2017-02-08 14:50] bradmartin commented on #19
For sure. Prob rephrase that to explain it extends ContentView so it's just
a layout container like stack layout, grid, etc. I'll try to circle back to
that later. Thanks

On Wed, Feb 8, 2017, 8:47 AM Matthijs van der Klip <notifications@github.com>
wrote:

[2017-03-06 15:59] #18 closed

[2017-04-12 22:49] bbetter opened #22 "Request: Update for Nativescript 3.0 Breaking Changes"
fix issue with ui/proxy which is now not available

[2017-04-25 13:42] JPM84 commented on #22
This is the error in 3.0RC:
```TypeError: Could not load view for: PullToRefresh.Error: Could not find module 'ui/core/proxy'.```

[2017-04-28 16:05] bradmartin commented on #22
https://www.npmjs.com/package/nativescript-pulltorefresh - thanks @PeterStaev

[2017-04-28 16:05] #22 closed

[2017-05-02 18:46] davecoffin opened #24 "Crashes app on android."
I created this repo (a bare hello world template) to demonstrate this bug:
https://github.com/davecoffin/PullToRefresh-Android-Bug

In a nutshell though:
[code]

[code]

and the error is:

[code]

[2017-05-04 12:35] davecoffin commented on #24
@bradmartin do you agree that this can and should be fixed in the pulltorefresh plugin?

[2017-05-04 14:01] bradmartin commented on #24
Possibly, I'm just not sure right now what the plugin would be doing that would cause it 🤔 if we know what the cause is then fixing here is great. I'm just not sure without more debugging on the issue and limited on time right now :(

[2017-05-04 14:02] bradmartin commented on #24
@PeterStaev helped with updating the plugin and he might be a little 'fresh' on the specifics of the plugin having recently worked on it. Peter, do you have any idea what would cause the PullToRefresh layout to cause this issue?

[2017-05-04 15:08] PeterStaev commented on #24
My guess is this might relate to https://github.com/bradmartin/nativescript-pulltorefresh/blob/master/pulltorefresh-common.ts#L14, where we remember the initial value and then change it back. This was done as far as i remember because when you set the color property of the widget it also changed the color of all the content inside it.

[2017-05-07 10:13] PeterStaev commented on #24
I've just did a quick test, and good news is this problem is not present in 2.0.0 version of the plugin and the core 3.0 modules. So my guess is it was a mix of some problem with the 2.5 core modules and how the plugin is implemented.

@davecoffin I would suggest using the workaround that @bradmartin suggested - to define a color property for the label, and then when you upgrade your project to {N

[2017-05-13 14:09] ryanzaatari opened #25 "Need to use it with tns version 2.5.0"
What version of the plugin should I add with tns version 2.5.0 ?

[2017-05-13 16:04] bradmartin commented on #25
Try installing 1.1.10 - I think that was the last release prior to supporting NS 3.0. I forgot to document the versions on the readme :) will do that later. Thanks.

[2017-05-15 08:36] ryanzaatari commented on #25
Yes @bradmartin , version 1.1.10 worked perfectly.

cheers!

[2017-05-15 08:37] #25 closed

[2017-05-20 09:55] GodShuning opened #26 "this plugin is not compatible with scrollview"

[2017-06-11 12:24] celsomtrindade commented on #26
Running into same issue. When using it with ScrollView or ListView, when trying to scroll back to the top it will refresh the page, ven when touching the screen at the very bottom. I'm using it with angular as well.

But I noticed it only happens when using with more layout definitions. For example, the code below works as expected:

    <PullToRefresh (refresh)="refreshPage($event)">
        <Lis

[2017-06-23 18:42] EddyVerbruggen commented on #17
@NordlingArt Would you be willing to share your solution perhaps?

[2017-06-24 14:54] NordlingArt commented on #17
@EddyVerbruggen - Sure thing. Though I'm currently migrating my plugins to 3.0, so I cannot share it yet. I'll post here once it's ready.

[2017-06-26 02:00] bradmartin commented on #26
I think this mainly affects iOS correct? I recall having to adjust layouts for iOS to work. This line is all I recall, maybe @PeterStaev can provide some insight on the specifics here for iOS 😄
I don't recall having any layout issues with Android but it's been awhile since I've used this one.

[2017-06-26 02:00] bradmartin commented on #24
@davecoffin is this better as Peter suggested with 3+? I'm about to implement it in an app so I'll report back if any issue related to this.

[2017-06-26 07:39] PeterStaev commented on #26
The thing about iOS is that unlike Android you cannot use the pull to refresh functionality on any view, because the whole UI thing is rendered in `UIScrollView`. On Android it is just a separate UI element that is rendered at the top of any view, so it is independent. That's why for iOS the content of the pull to refresh needs to be a descendant of `UIScrollView`. In terms of {N} this means that

[2017-06-26 11:25] celsomtrindade commented on #26
For me this was happening on Android, I can't test it on IOS since I don't own one. Also, like I said, it only has a different behavior under the second template structure, and the pull refresh does work, but it blocks the scroll to top.

[2017-06-26 15:11] bradmartin commented on #26
Realized I forgot to paste the line from the iOS file like 😄 @PeterStaev but thanks for chiming in on the iOS specifics. @celsomtrindade when you say it `blocks the scroll to top` you mean you can't scroll back to the top of the list, correct?

[2017-06-26 15:33] celsomtrindade commented on #26
I can test it, but not very soon because I'm away. I'll try to give a feedback by tomorrow.

But that's correct, I can't scroll to the top of the page because when I try to do it, it activate the `pull to refresh`.

I'll try to play around with your tips and see if I can work around this. Not a big issue.

[2017-06-26 15:39] d3mac123 opened #28 "Not working on Android"
I am running the plugin fine on iOS, but on Android I just get this while trying to pull down:
![screenshot_20170626-113528](https://user-images.githubusercontent.com/229148/27547370-c4c4fe4e-5a63-11e7-8589-4565892867ca.png)

This is my XML code:
[code]

and the JS code for the pulling control:
[code]

The CleanView function only sorts the table for the list view.

Any ideas?

[2017-06-26 16:12] bradmartin commented on #28
Does the pull-to-refresh never stop? Is that the issue you see?

[2017-06-26 16:30] d3mac123 commented on #28
Besides showing up the icon (as you can see in the picture), nothing else happens. Not sure if it's not refreshing at all or never stopping (the function I'm calling just order the list)

[2017-06-27 14:39] davecoffin commented on #24
@bradmartin I'm not ignoring you, I went to test this yesterday morning which sent me on a wild goose chase fixing android build bugs that I still havent resolved.

[2017-07-22 16:35] sittingbool opened #29 "Incompatible with swipe gestures"
Hi I am using wipe gestures (left / right) from [this slides plugin](https://github.com/TheOriginalJosh/nativescript-ngx-slides) and they don't work anymore when i put this plugin around the content. tested it on android. NS version 3.1.1, using Angular.

[2017-08-16 17:30] chrisbellman opened #30 "Not working on Latest NativeScript"
Using NativeScript + Angular. Am I missing something?

CONSOLE ERROR file:///app/tns_modules/@angular/core/./bundles/core.umd.js:1091:24: ERROR Error: Uncaught (in promise): Error: Content must inherit from UIScrollView!

[code]

[code]

[2017-08-16 17:40] bradmartin commented on #30
Hi @chrisbellman - on iOS the layout has certain requirements and the error indicates it. I'm not the best iOS dev around so I don't claim to know much there 😄 but basically your layout needs some tweaks to get it working. Could you try switching out the `flexboxlayout` with a `stacklayout` and see if the same issue persists. If so, then try a `stacklayout` inside the pulltorefresh that will wrap

[2017-08-17 17:12] chrisbellman commented on #30
If I put a StackLayout outside or inside the PullToRefresh before the ListView, I get this error:
CONSOLE ERROR file:///app/tns_modules/@angular/core/./bundles/core.umd.js:1091:24: ERROR Error: Uncaught (in promise): Error: Content must inherit from UIScrollView!

[2017-08-17 18:25] bradmartin commented on #30
Maybe it's the `ng-template` I haven't used it in an NG app but I know it worked at one time just fine 😕 keep me posted if you find anything.

[2017-08-22 10:09] dvdbrk opened #31 "How to get android interface"
Plugin works awesome, thank you, but I am trying get to the Android's native interface.
Any ideas what am I doing wrong?

[code]

[code]

[2017-08-22 12:32] bradmartin commented on #31
Try taking the angular approach declaring the Id with `#` and then using
`@ViewChild` to get the native element.

On Tue, Aug 22, 2017, 5:09 AM Dave <notifications@github.com> wrote:

[2017-08-22 13:20] dvdbrk commented on #31
Tried that as well... failed :'-(

[2017-08-22 13:25] bradmartin commented on #31
Can you share what you have now?

On Tue, Aug 22, 2017, 8:20 AM Dave <notifications@github.com> wrote:

[2017-08-22 13:59] dvdbrk commented on #31
**home.component.html**

[code]

**home.component.ts**

[code]

**The console output**

[code]

[2017-08-22 14:33] dvdbrk commented on #31
Huh, I left all this debug info in... and now I keep receiving what I should have...

[code]

Oh well... 😕

[2017-08-22 15:06] bradmartin commented on #31
So you got it figured out?

[2017-08-22 16:11] dvdbrk commented on #31
Yes, it was one of those cases when the element does not actually exist on the page even after AfterViewInit.  ``setTimeout`` fixed it 👍

[2017-08-22 16:11] #31 closed

[2017-09-06 06:08] kalininskiy commented on #29
I have same problem with "nativescript-carouse"l - left/right swipe conflict with nativescript-pulltorefresh vertical swipe
but this problem only with Android, in iOS work fine and no swipe conflicts

[2017-09-14 16:03] iShankarG opened #32 "Layout issue with NativeScript 3.2"
Layout not working when `PullToRefresh` used, below is my code

    <GridLayout xmlns="http://schemas.nativescript.org/tns.xsd"
	    xmlns:PullRefresh="nativescript-pulltorefresh" class="page-content" loaded="onLoaded">
	    <PullRefresh:PullToRefresh refresh="refreshList">
	    	<Label class="page-icon fa" text="&#xf015;"></Label>
	    	<Label class="page-placeholder" color="#000" text="Lorem ips

[2017-09-14 21:56] bradmartin commented on #32
The `PullToRefresh` is a layout similar to StackLayout or other content-view views. Try setting a height of 100% and width of 100% on it so that it fills the page. That should help some.

[2017-09-16 06:34] iShankarG commented on #32
@bradmartin It's working and Thank's for your plugin.

[2017-09-16 06:34] #32 closed

[2017-09-21 12:01] simonox commented on #26
If I put it around a ScrollView under iOS pull-to-refresh is not working (no spinner, no refresh event).

[code]

[2017-10-09 20:21] manojdcoder opened #33 "Webpack android build fails with uglify"
Without adding [SewipeRefreshListener](https://github.com/bradmartin/nativescript-pulltorefresh/blob/master/pulltorefresh.android.ts#L70) to mangle, android build fails when using uglify. Please add the instructions to read me.

[2017-10-09 21:12] bradmartin commented on #33
Do you care to submit a PR with the instructions? :)

On Mon, Oct 9, 2017, 3:21 PM Manojkumar Murugesan <notifications@github.com>
wrote:

[2017-10-11 17:25] davidsandoz commented on #8
I am facing the same issue with a NativeScript 3.2.0 + Angular 4.2.6 project.
[code]

An additional information that could be useful is this `ERROR BOOTSTRAPPING ANGULAR`.

In pulltorefresh.ios.ts, I tried to replace `this.content.ios`  with `topmost().currentPage.content.ios`, which requires to `import {topmost} from 'ui/frame';`.

With that change, I don't get the `undefined` error anymore, but

[2017-10-13 06:38] jogboms commented on #33
@manojdcoder can you describe?

[2017-10-15 07:36] manojdcoder commented on #33
@bradmartin Please merge #34, added instructions to ReadMe.

[2017-10-16 13:32] davidsandoz commented on #8
I'll just mention you here @bradmartin, in case you didn't get notified of my last message because the issue is closed.

[2017-11-02 02:39] JoelAH opened #35 "Does not work with parent as GridLayout"
No list shows when a grid layout is used instead of a stack layout (as in example). However, I would like to keep my gridlayout

[2017-11-02 03:03] #35 closed

[2017-11-14 10:15] TheOnlyMatt commented on #29
Hi,
@kalininskiy @sittingbool Did you find a way to solve this ?
I have exactly the same problem with the carousel and pull refresh conflicting

[2017-11-14 11:41] sittingbool commented on #29
Nope, I can think of the reason: the gesture is taken by the upper view and not forwarded through the view stack anymore. But since at least one module is entirely written in Angular and the gesture is recognized in the native code I guess the changes have to be made in NativeScript itself. I ended up with just using one of these modules per screen. But I know that in iOS  as well as in Android yo

[2017-11-14 13:06] TheOnlyMatt commented on #29
Ok, thank you for your quick answer, I will try to bypass the problem by disabling the slide gesture on Android and replace it by prev/next arrows.
Perhaps that I will try later to find a fix to get it working.

[2017-11-19 19:57] JoelAH opened #36 "List View cant scroll up"
Scrolling the list view is ok, but when I am trying to scroll back up to the top, The refresher comes up. Trying to scroll back up is being interpreted as a refresh command. The refresher should come up when i reach the top, and then pull down.

[2017-11-19 23:11] bradmartin commented on #36
This might be an issue with your layout, can you paste the snippet? If that's not it then something has broken recently, not necessarily the plugin source but core modules, android lib, etc. Will know more if I can see the layout you're using.

[2017-11-20 01:15] JoelAH commented on #36
Hi. Well this is the layout im using:

<PullRefresh:PullToRefresh refresh="refreshList">
<GridLayout  rows="auto,*" class="page-content" loaded="onLoaded">

        <ListView row="1" class="listview list-top" items="{{items}}">
            <ListView.itemTemplate>
                <GridLayout>
                    <Label col="0" style="margin-right:98%;background-color:green;width:2%;" class="{{progr

[2017-11-20 01:18] JoelAH commented on #36
This is the layout I use. It is inside a TabViewItem:

`<PullRefresh:PullToRefresh refresh="refreshList">
<GridLayout  rows="auto,*" class="page-content" loaded="onLoaded">
        <ListView row="1" class="listview list-top" items="{{items}}">
            <ListView.itemTemplate>
                <GridLayout>
                    <Label col="0" style="margin-right:98%;background-color:green;width:2%;

[2017-11-20 01:19] JoelAH commented on #36
`If I put the PullRefresh inside the top GridLayout, the screen will be blank

[2017-11-20 10:02] davidsandoz commented on #8
@bradmartin Would you have any hint on what we could do to make it work?

Here some more information on my usage of the plugin:

I'm doing the following before `@Component`:
[code]

And in the template I have:
[code]

Note that this works very well on Android.

[2017-11-22 01:23] JoelAH commented on #36
Any word on this?

[2017-11-25 04:30] JoelAH commented on #36
Any word?

[2017-11-25 13:46] #33 closed

[2017-11-25 21:43] bradmartin commented on #36
I think you need to put the PullToRefresh in your grid, the reason you say `screen will be blank` is likely that you aren't assigning it a row in the grid and/or you don't have height/width for the component to know how to fill the parent. On Android this isn't as big of an issue as it is on iOS where iOS layouts don't automatically `fill` their parent layouts by design.

I have updated the demo a

[2017-11-25 21:43] #36 closed

[2017-11-25 21:44] bradmartin commented on #30
@chrisbellman did you figure this out? The plain NS demo is working fine on latest. I haven't tried it within angular, let me know and we can reopen if needed.

[2017-11-25 21:44] #30 closed

[2017-11-25 21:44] #24 closed

[2017-11-25 21:45] #28 closed

[2017-11-25 21:45] #26 closed

[2018-01-14 19:11] davecoffin opened #37 "Top margin issue with ios runtime 3.4.1"
Check this out:

https://cl.ly/opvQ

Youll notice when I navigate to a view that has a pulltorefresh in it, the margin that is reserved normally for the spinner is shown, then adjusts. Its not pretty. If I remove the pulltorefresh, it works as expected. Thoughts?

[2018-01-15 13:53] davecoffin commented on #37
Here's a playground illustrating the issue: https://play.nativescript.org/?template=play-js&id=KSXAup&v=2

[2018-01-15 17:16] davecoffin commented on #37
Some more info:
Its something to do with the new Action Bars in iOS 11. The bug exists when going from one page with an action bar to another page (the page with the pull refresh) with an action bar. Here are some demos:

Going from action bar to no action bar: https://cl.ly/oqIG
Going from no action bar to no action bar: https://cl.ly/oqJo
Going from no action bar to action bar: https://cl.ly/oqD

[2018-01-15 19:37] davecoffin commented on #24
This is crazy, but this bug has resurfaced. It happens for me in 3.4.1.

[2018-01-16 08:12] PeterStaev commented on #37
Logged https://github.com/NativeScript/NativeScript/issues/5274

[2018-01-16 13:27] bradmartin commented on #37
I meant to ping in earlier, Hristo on the core team is redoing a bunch of the frame in NS. I know some fixes for iPhoneX are to land and a bunch of others so this could be related to the work he's doing there.

[2018-01-23 07:23] xingyuli opened #38 "PullRefresh:PullToRefresh around simple <Label /> crashes on Android"
I have a page composed by non-list views. The `PullToRefresh` plugin works on iOS but crashes on Android. Does that mean this plugin not support this kind of page? If yes, then non-list pages would cry.

[code]

Crash screenshot:
![screenshot_2018-01-23-15-19-06-913_org nativescri](https://user-images.githubusercontent.com/3337431/35262770-021dcf76-0051-11e8-9fe7-6e0d17baef9b.png)

You can reprodu

[2018-02-05 10:00] svanegaard opened #39 "refreshing = false does not work on empty ListView"
Spinner does not disappear when setting "refreshing" to false on an empty ListView.

[2018-02-05 11:54] svanegaard commented on #39
The issue was related to another problem and not an issue with this plugin!

[2018-02-05 11:54] #39 closed

[2018-02-22 11:44] jiro412j opened #41 "How to register element properly?"
I try to import

`import { registerElement } from "nativescript-angular/element-registry";
registerElement("PullToRefresh", () => require("nativescript-pulltorefresh").PullToRefresh);`

 inside `component.ts`. I got this error everytime.
`ERROR Error: Content must inherit from either UIScrollView, UIWebView or WKWebView!`

<img width="1186" alt="1__tns_run_ios_--emulator__simctl_" src="https://use

[2018-02-22 14:31] bradmartin commented on #41
Can you post your markup, that is where your issue is with that error. Thanks :)

[2018-02-23 03:56] #41 closed

[2018-03-07 15:01] jeremiasjutz opened #42 "nativescript-vue"
How can I make it work with nativescript-vue?

So far I have put this at the top of my file:
[code]

and then I have a stacklayout between the PullToRefresh Tags.
`<Page xmlns="http://schemas.nativescript.org/tns.xsd" xmlns:PullRefresh="nativescript-pulltorefresh">`
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`<PullRefresh:PullToRefresh refresh="refreshList">`
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nb

[2018-03-15 14:13] cerireyhan commented on #26
@celsomtrindade Hi, I'm having a similar problem. I have a listview and a label (to display if the list is empty) inside pull-to-refresh however they can't be inside the same scrollview. Do you have a solution for your problem?

[2018-03-26 01:59] vultix commented on #17
@EddyVerbruggen @NordlingArt Is there any update to this?  I'm running into the same problem.

[2018-03-26 07:53] EddyVerbruggen commented on #17
Hey @vultix, I tweaked the appearance of the pulltorefresh and loadmore indicators for iOS this way:

https://gist.github.com/EddyVerbruggen/4087b951e432f10769327cac8cb32ed1

[2018-03-27 13:58] vultix commented on #17
@EddyVerbruggen Thank you very much!

[2018-04-16 19:56] strebl commented on #42
Maybe you found the solution already, but that works:
[code]

[2018-04-17 05:59] #42 closed

[2018-05-15 20:32] kuamatzin commented on #42
@strebl in what file did you put:

Vue.registerElement('PullToRefresh', () => require('nativescript-pulltorefresh').PullToRefresh);

[2018-05-24 17:13] mathieutu commented on #39
@svanegaard Hi, I've the same problem (with a not empty ListView), how did you manage it?

[2018-05-26 16:36] strebl commented on #42
@kuamatzin I added it to the file `main.js`.

[2018-05-27 09:32] william-levi commented on #26
+ 1 any workaround for this ? i'm also using scrollview

[2018-06-21 21:32] razorsyntax opened #45 "ios: pulltorefresh with angular component causes Error"
The following is pseudo-code of my angular 5 what it looks like.

Pull to refresh currently works with this setup in android but not ios.

The following error occurs:

The top component has the following code:
[code]

Inside of `app-component-with-list`:
[code]

[2018-06-27 20:46] razorsyntax commented on #45
Well cool.  It definitely works.  I was able to run the demo and it works in iOS.  Which is great.

In my project, however, if I pull out the reusable ListView from the child component (`app-component-with-list`), PullToRefresh definitely works... but then I lose the reusability of the component which makes it, well, less Angular.  :)

This works in iOS:

[code]

This does not:

[code]

I don't th

[2018-07-24 11:15] hasbyalkaff commented on #18
hello, help me,  i got same issue with this. Im use pulltorefresh, to get data from db and check them for current data.. not for listview..

this work perfectly for Android, but not for IOS. 😢

Here my code:

my UI.xml
`<page navigatedTo="onNavigatedTo"
    xmlns:PR="nativescript-pulltorefresh">

    <ActionBar title="RAN1" class="action-bar">
    </ActionBar>

    <PR:PullToRefresh refresh="onRef

[2018-07-30 08:27] hasbyalkaff opened #46 "JS ERROR Error: Content must inherit from either UIScrollView, UIWebView or WKWebView!"
hello, help me,  i got same issue with  #18. But, I use pulltorefresh to get data from db and check them with current data.. not for listview..

this work perfectly for Android, but not for IOS. 😢

Here my code:

my UI.xml
[code]

my controller.js
[code]

[2018-08-07 03:37] bradmartin commented on #46
Have you tried wrapping your pullrefresh in a scrollview? That should work or putting the scroll inside the pullrefresh. I forget which way it goes from memory 😄

[2018-08-07 03:37] #46 closed

[2018-09-04 14:13] san18793 commented on #8
Guys anyone solved this issue ? If yes kindly update it . I am getting the same above mentioned error and don't know what to do.

[2018-09-27 14:13] milosmatic commented on #46
@hasbyalkaff @bradmartin You have to put `<ScrollView>` inside `<PullToRefresh>`.

[2018-10-18 18:32] reinaldorauch commented on #38
+1

[2018-11-15 16:14] bradmartin commented on #17
Closed via https://github.com/bradmartin/nativescript-pulltorefresh/pull/49

[2018-11-15 16:14] #17 closed

[2018-12-09 19:12] razorsyntax opened #50 "Alternatives to ListView"
Is it possible to use PulltoRefresh with anything other ListView?

I'd love to create a grid that can use PullToRefresh rather than a vertical list.

I'm using the [GridView](https://www.npmjs.com/package/nativescript-grid-view) plugin to create a scrollable grid and would like to use PullToRefresh.

If this isn't possible, doesn't anyone know of any tutorials that could help replicate the pull to

[2018-12-17 23:07] packytagliaferro opened #51 "Indicator Color"
Is there a way to change the indicator color on this? I added to the css

[code]

but that did effect the pull to refresh indicator.

[2019-01-17 11:40] hc1213 commented on #46
maybe show the code in your demo is better~
thank you

[2019-01-22 19:55] CodeCoded commented on #29
Hi

I was wondering if anyone has solved this or come up with a good alternative?

Thanks

[2019-02-05 15:03] tarantelklient commented on #26
+1

I have got the same problem atm. I want to refresh a view and have ScrollView inside the PullToRefresh :/

[2019-02-13 00:51] laruche opened #52 "Conditionnnal blocked plugin"
Hi team

I make some tests with your plugin in my vue App
it's working on IOS when I use your readme syntax

but I'm working with vuex, and when page is loading, I use a conditionnal state to show another spin indicator

and this configuration seems to blocked your refresh system

`<ActivityIndicator v-if="loading" busy="true" width="100" height="100"/>
              <StackLayout v-else>

[2019-03-11 10:10] mrpaaske commented on #37
I still have the same issue with this plugin and iPhone X. Setting `margin-top: -44` hides the bug. I'm not sure if this is NativeScript issue or plugin issue.

Also, `ActionBar` is not involved in my case.

[2019-03-12 10:27] felix-idf commented on #24
@davecoffin @bradmartin
I also get this error using NS 5.2 and the latest version of this plugin.

Surprisingly the error does not occur if I add a color to the Label.

<Label text="Test"/>  --> crash
<Label text="Test" color="black"/> --> no crash

[2019-04-10 14:53] #29 closed

[2019-05-24 14:29] lennonphosfato commented on #51
use the color attribute  <PullToRefresh color="white">

[2019-06-26 09:32] mehulcs opened #56 "color and backgroundColor property applies to content element GridLayout"
I'm using PullToFresh to wrap `GridLayout`, Setting `color` and `backgroundColor` property, It also applies to `GridLayout` and its children. My project is Nativescript Vue on android.

[2019-07-17 16:02] nikoTM opened #57 "Fails to build on Android for Nativescript 6.0.0"
The build fails with the following error:

[code]

[2019-07-17 17:12] #37 closed

[2019-07-17 18:02] bradmartin commented on #57
Please update to `@nstudio/nativescript-pulltorefresh` with `tns plugin add @nstudio/nativescript-pulltorefresh` for AndroidX updates.

[2019-07-17 18:02] #57 closed

[2019-07-20 11:31] prashantnirgun opened #58 "app:runsbg after updating to nativescript 6"
after updating I am facing this problem kindly help to fix this.
Host O/s : Ubuntu
✔ Your ANDROID_HOME environment variable is set and points to correct directory.
✔ Your adb from the Android SDK is correctly installed.
✔ The Android SDK is installed.
✔ A compatible Android SDK for compilation is found.
✔ Javac is installed and is configured properly.
✔ The Java Development Kit (JDK) is installed

[2019-07-21 04:16] bradmartin commented on #58
Can you provide the error output?

Also you're running two deprecated plugins: cardview and this one. See this plugins readme for the correct dependency https://github.com/nstudio/nativescript-pulltorefresh#installation

[2019-08-08 03:41] markosole commented on #38
Guys same problem here. My code is a bit longer, so here is a picture instead and if I lines with text it just stops working. Another thing is that SearchBar does not work nether.
Is there any solution for this?
![image](https://user-images.githubusercontent.com/10780405/62673538-aa01fa00-b996-11e9-85b5-390484e4858b.png)

[2019-08-08 03:50] markosole commented on #38
Ok, solution is: `<label text="Here is some dummy text" color="#c3c3c3"  textWrap="true"/> `
Just add **color="#c3c3c3"** and it will work. Adjust the color by your needs. It is still a problem but it can be addressed with this tweak

[2019-08-12 13:31] bajmera opened #59 "Not working with webview on android, for ios works fine"
I have integrated this plugin with nativescript webview, i wants to refresh page inside webview
While scrolling down, page is getting refreshed, but its affecting to webview CSS for modal and some angular components

Showing black background behind modal popup

Please provide solution

[2019-08-16 14:50] markosole opened #60 "iOS bounce up on refresh and no animation"
Hi guys, I am using plugin with wrapping **SrcollView**  like on example below:

    <GridLayout columns="*" rows="*, auto" class="page-content">
        <PullRefresh:PullToRefresh refresh="refreshList">
            <ScrollView height="100%" tap="clearTextfieldFocus">

            </ScrollView>
        </PullRefresh:PullToRefresh>
    </GridLayout>

This works perfect on Android but does not work

[2019-08-16 14:58] #58 closed

[2019-08-21 16:13] DvDave commented on #38
+1
I've added a general `Label{
color:black;
}`
and this solve the issue.
After 2 hours of headache of course :)

[2019-08-24 21:49] markosole commented on #60
Quick fix for this is `<PullRefresh:PullToRefresh refresh="refreshList" style="margin-top: 0.001">` adding **margin-top: 0.001** or any positive value, 0 does not work.

[2019-08-26 07:47] programista25 opened #61 "Class not found android.support.v4.widget.SwipeRefreshLayout.OnRefreshListener"
After I've added your plugin to my xml file. I've got following error:
`[19-08-26 09:42:20.521] (CLI) Exception in thread "main"
[19-08-26 09:42:20.528] (CLI) java.lang.RuntimeException: Class not found android.support.v4.widget.SwipeRefreshLayout.OnRefreshListener
	at org.nativescript.staticbindinggenerator.Generator.getClass(Generator.java:549)
	at org.nativescript.staticbindinggenerator.Generat

[2019-08-27 06:48] programista25 commented on #61
I suppose, that I'm using correct npm package. Below you can find my package.json file:
[code]
I've also used this @nstudio package in xmlns:
[code]

[2019-08-27 14:14] programista25 commented on #61
My bad, I've forgot to change import statement to this: `import { PullToRefresh } from "@nstudio/nativescript-pulltorefresh";` in one of the service classes. No issue here.

[2019-08-27 14:14] #61 closed

[2019-09-04 09:08] romandragan opened #62 "Android ViewPager2 increased sensitivity"
If I use `PullToRefresh` inside Android's `ViewPager2` fragment ([`nativescript-pager`](https://github.com/triniwiz/nativescript-pager)) plugin, the sensitivity of the pages increases a lot.

Seems like working on iOS.

cc @triniwiz

[2019-09-04 09:41] romandragan commented on #62
UPD. Was able to resolve that with:

[code]

in the loaded events of `ListView` and `Pager` components.

[2019-09-04 22:11] triniwiz commented on #62
@romandragan the ViewPager2 uses RecyclerView so that's why that is happening now

[2019-09-26 08:10] michalMajkel commented on #60
@markosole you're the man ! I was so annoyed by this issue. Your workaround fixed both problems - incorrect rendering and no animation.
I wonder what is the root cause here

[2019-09-26 21:21] bradmartin commented on #60
Yea, I'm not sure what causes this but tomorrow I need to look into this plugin a bit for an app so maybe I'll find something for this also.

[2019-09-26 22:23] markosole commented on #26
Hi guys, looks like this is still a problem. It works fine with Repeater and RadListView, but does not with ListView. I did not find any workaround. I m thinking to try with checking scroll position (check this out for idea: https://www.youtube.com/watch?v=k9cxGlAlo4s&t=1029s). All we need is to check scroll position and enable or disable plugin with **visibility="{{ (enabled !== 'yes' ? 'hidden':

[2019-10-21 13:35] krthush commented on #59
I'm following up on this, just trying testing on Android s8+ (Android 9) with a webview on a vue project, here are few snippets of the keycode:

![image](https://user-images.githubusercontent.com/33790334/67209766-e24e9b80-f40f-11e9-9bc0-aab62003d763.png)

![image](https://user-images.githubusercontent.com/33790334/67209807-f4303e80-f40f-11e9-9a35-ccbb96af4cec.png)

The webpage loads fine at the s

[2019-10-21 20:08] krthush commented on #59
Just tested on iOS, same results - the webview doesn't get affect at all, but the native spinner does appear.

[2019-10-21 22:25] krthush commented on #59
Actually... ignore me I just realised I thought this component refreshes the component for you, but its actually a visually plugin to show the spinner for android/ios, and you need to refresh the component yourself. I have now managed this with this...

[code]

Now everything works as expected 🚀  Thanks for the plugin!

[2019-11-01 11:02] #62 closed

[2019-11-11 15:13] ycherniavskyi commented on #60
After some investigation, I could say that this issue caused by `ScrollView` implementation in NativeScript, to be exact by this [line](https://github.com/NativeScript/NativeScript/blob/d0d4d811025a7e53e25dd86884c261369be92ee5/nativescript-core/ui/scroll-view/scroll-view.ios.ts#L172) in `ScrollView` implementation.

`contentInsetAdjustmentBehavior` disable for Safe Area Support by `ScrollView` (in

[2019-11-11 21:09] markosole commented on #60
@ycherniavskyi
ScrollView is native component, it's just the way how it's wrapped is not good/supported. You can use my quick fix from above.

[2019-12-22 08:33] bearoutthere commented on #50
Similar question for *ngFor instead of ListView?

[2020-01-06 20:15] MateusSpadari commented on #51
Hi @lennonphosfato how can i use that ? Thanks !

[2020-04-04 07:10] VeeK727 commented on #56
I don't know if my problem is related or not. When I use PullToRefresh, the labels disappear. I have to specifically apply text color on each label otherwise they are not visible. It of course works fine if I remove PullToRefresh wrapper.

[code]

[2020-04-11 09:57] seergiue opened #63 "Not working on iOS onLoaded"
Hello! This plugin works perfect for all cases except for the one I'm going to describe.

I want to be able to fire the "refreshing" property programmatically whenever I want. For Android works perfect, but for iOS it doesn't work.

I'm using nativescript-vue and doing the following:

- This is the view

`<PullToRefresh ref="pullToRefresh" @refresh="onRefresh" row="1" col="0" color="red">

[2020-04-20 19:00] DimitrisRK commented on #63
It seems that an addition to the native code would probably fix this.
Calling 'beginRefreshing' method is often not enough for manual refresh.

There is a solution described here:
https://stackoverflow.com/questions/28550021/uirefreshcontrol-not-refreshing-when-triggered-programmatically
https://stackoverflow.com/questions/14718850/uirefreshcontrol-beginrefreshing-not-working-when-uitableviewcontr

[2020-06-02 15:11] #38 closed

[2020-06-05 11:13] tidusjar opened #68 "Changelog for 2.0.0 ?"
Hello,

is there some sort of changelog or upgrade guide to migrate to the latest version of this package?

[2020-07-04 12:33] thd-fox commented on #63
@seergiue You could just simply do that manually if your page is  a ScrollView.

See this code example:

_page.xml_
[code]
_page.ts_
[code]

[2020-07-14 14:17] jagadish-kb commented on #60
I am programatically creating the PullToRefresh control and the entire page content as well (thats required). Snippet of code below
[code]
Now, I am forced to wrap my page content (stackLayout) inside a 'scrollView' else `pullToRefresh.content` throws an exception saying the content can either be a scrollview or a webview.

Now after wrapping in a scrollview i had the same problem as mentioned abo

[2020-07-14 22:25] ycherniavskyi commented on #60
@jagadish-kb my workaround for this problem was to use `ListView` with one item (which contains all information from `ScrollView`) instead of `ScrollView`.

[2020-07-15 04:46] jagadish-kb commented on #60
@ychernioiavskyi Thanks for your suggestion. Initially i was going to just use [RadListView](https://docs.nativescript.org/ui/components/radlistview/pull-to-refresh) component which has this pullToRefresh feature in-built & thought will just set 1 item in the list. However when working with both `RadListView` and `ListView`, AFAIU the only way to set content was to be done by setting the attribute

[2020-07-15 19:14] jagadish-kb commented on #60
I found a solution. Instead of wrapping my entire page content (stacklayout) in a scroll view, i just figured out that the first child in the stacklayout is a nativeview (coming from a plugin) which was of type 'UITableViewController', which implements the protocol 'UIScrollViewDelegate',  & hence suffices this [check here](https://github.com/nstudio/nativescript-pulltorefresh/blob/master/src/pull

[2020-08-12 06:02] VeeK727 opened #70 "Wrong version being downloaded by default"
`tns plugin add @nstudio/nativescript-pulltorefresh
`
command by default is installing v3.0.0 which I'm not even seeing in the release section. This of course causes the app to crash with error

[code]

`tns plugin add @nstudio/nativescript-pulltorefresh@1.0.1` works fine which is the latest version currently. Not sure where its puling 3.0.0 from.

[2020-08-12 14:27] bradmartin commented on #70
`3.0.0` is pulled from NPM https://www.npmjs.com/package/@nstudio/nativescript-pulltorefresh. You might need to clean your local project by deleting node_modules, platforms, hooks directories and then installing and building the app fresh.

[2020-08-12 14:53] VeeK727 commented on #70
I did do that but I'll try again tomorrow and let you know.

Does Github updates after a delay?

[2020-08-19 11:50] ray007 opened #71 "exception with version 3"
I'm using `nativescript` with the `vue` template, and trying to use `nativescript-pulltorefresh` gives me the following error on startup:
[code]

tns info output:
[code]

[2020-08-19 20:11] alvmarcoux opened #72 "Cannot read property 'SwipeRefreshLayout' of undefined"
I am using Angular Nativescript and the app is giving me the following error when a try to access the template that use this tool:
[code]

in main.ts i have:
[code]

in the template:
[code]

and in the component
[code]

I searched on the web and found this post with what is seems to be the same problem:
[https://stackoverflow.com/questions/63365237/error-in-nativescript-pulltorefresh-android-canno

[2020-08-25 12:58] butaminas commented on #71
Having the same problem.

[2020-08-27 16:07] lehongwang commented on #71
please help

[2020-08-27 20:04] butaminas commented on #71
Use version 2 for now. That worked for me.

[2020-08-28 15:10] neversaynever44 commented on #71
Having the same problem. please help

[2020-08-28 15:11] neversaynever44 commented on #71
any news?

[2020-08-28 17:30] bradmartin commented on #72
Looks like you might be registering the wrong package

[code]
use the `@nstudio/...` scoped version

[2020-08-28 17:30] bradmartin commented on #71
Has anyone tried this in a non Vue app? Same issue or not?

[2020-08-28 19:52] alvmarcoux commented on #72
Thanks for the answer.
I had already tried that, because i saw it in the "Usage" section. I changed it again, now this is my main.ts:
[code]
the rest of my code is the same, but im still having an error. However i see that is different:

[code]

[2020-08-30 11:39] butaminas opened #73 "How to prevent pull to refresh when dragging down on Google Maps?"
I have a big Google Map and whenever I move around in the map, particularly, when I go up in the map, the pull to refresh is triggered.

Any way to prevent this or at least add some kind of throttle?

[2020-08-30 12:24] iamabs2001 opened #74 "Cannot access 'PullToRefresh' before initialization"
ERROR TypeError: Could not load view for: PullToRefresh.ReferenceError: Cannot access 'PullToRefresh' before initialization

angular verison 8.2
nativescript 6

[2020-08-31 14:04] ray007 opened #75 "FR: add api to show refreshing-indicator by script"
Pulling to refresh shows the indicator as intended.
I would also like to show it on app-startup, when the app searches for nearby sensors, or when activating the tab containing the pulltorefresh container.
Setting the `refreshing` property to `true` does not work.

[2020-09-02 19:12] hrueger opened #76 "NativeScript 7 Support"
Could you please add support for NativeScript 7?

https://nativescript.org/blog/nativescript-7-for-plugin-authors/
https://nativescript.org/blog/nativescript-7-compatible-plugins/

[2020-09-04 18:07] eloiqs commented on #39
Hi, I'm having the same issue but with a ScrollView inside the PullToRefresh component instead of an empty ListView.

[2020-09-15 12:20] dammynex commented on #76
Any update on this?

[2020-09-15 13:57] bradmartin commented on #76
@nstudio/nativescript-pulltorefresh: "~3.0.0"

was published and should work with NS7.

This blog post is trying to maintain a list of plugins that we know of that support NS7 - https://nativescript.org/blog/nativescript-7-compatible-plugins/

[2020-09-15 13:57] #76 closed

[2020-09-19 05:12] dmyers commented on #8
Not sure if it helps, but I wrapped `<PullToRefresh>` in a `<StackLayout>` and it fixed the issue for me using NS Vue.

[2020-10-02 20:08] NazimMertBilgi commented on #74
same problem.

[2020-10-02 21:37] NazimMertBilgi commented on #59
I finally found a solution.

Strangely, the buttons on some websites were not working properly. It didn't look right.

With this cheat, it now works smoothly.

[code]

[2020-10-03 00:58] iamabs2001 commented on #74
I used radlistview to achieve pullToRefresh

[2020-10-03 01:48] DimitrisRK commented on #71
According to README, one must install 2.1.0 for NS 6.x.x and latest version for NS 7.
I migrated one of my old apps to 7, and installed latest version of plugin without issues.
My app is built using NativeScript Core JS.

That might mean it's Vue-related. I'll do a  few tests again today to be double-sure.

[2020-10-03 11:08] DimitrisRK commented on #71
@bradmartin Just tested with a new fresh NS7 Vue app and PullToRefresh 3.0.1.
No issues occured.

Everyone, make sure you install proper plugin version for your app NS version.

[2020-10-05 14:26] #71 closed

[2020-10-05 14:27] bradmartin commented on #74
I believe that is likely a timing issue with angular. I would try wrapping the access inside a `timeout` or using `NgZone` with `this._zone.run(() => { // access it now });` and one of those should work in the angular context

[2020-10-05 14:27] #74 closed

[2020-10-05 14:27] #59 closed

[2020-10-07 12:07] senner008 opened #77 "tns plugin add @nstudio/nativescript-pulltorefresh@2.1.0"
doesnt seem to work. It's

tns plugin add nativescript-pulltorefresh@2.1.0
for NS < 7
Right?

[2020-10-07 15:27] bradmartin commented on #77
Looks like that may have been a typo on the README and it's just `2.0.0` will fix that.

[2020-10-07 15:28] #77 closed

[2021-03-10 05:47] NavruzbekNoraliev commented on #73
++

[2021-04-15 08:48] farfromrefug opened #78 "Move to community"
Would you agree to move this plugin to @nativescript-community?
My fork has a lot of fixes https://github.com/Akylas/nativescript-pulltorefresh But i wont move it to community without you agreeing as it is a direct fork of yours

[2021-06-16 22:27] vallemar commented on #78
this plugin is not working on NS8 but the @farfromrefug  plugin does work

[2021-06-22 13:54] bradmartin commented on #78
I'm fine with moving it over to the community repo. @farfromrefug - for now I can put a deprecate message on this package. Possibly archive the repo and update the README pointing to the community version.

[2021-06-24 14:28] farfromrefug commented on #78
@bradmartin seems good. Already moved the repo https://github.com/nativescript-community/ui-pulltorefresh. Need to update all links and make a new release